@model IEnumerable<MVC_2024.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Vehiculo</a>
</p>

<form method="get" id="searchForm">
    <div class="form-group">
        <label for="combustibleIdentificador">Marcas : </label>
        <select id="combustibleIdentificador" name="combustibleIdentificador" class="form-control" asp-items="ViewBag.Combustibles" onchange="this.form.submit()">
            <option value="">-- Selecciona un combustible --</option>
        </select>
        <input type="submit" value="Buscar!" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiculoExtras)
            </th>
            <th>Opciones: Edit | Details | Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.NomSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustible.NomCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Marca.NomMarca)
            </td>
            <td>
                @foreach (var extra in item.VehiculoExtras)
				{
                    @Html.DisplayName("[ ")
                    @Html.DisplayFor(modelItem => extra.extra.NomModelo)
                    @Html.DisplayName(" ]")
				}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
