@model MVC_2024.Models.MarcaModel

@{
    ViewData["Title"] = "ListadoAgustin";
}

<h1>ListadoAgustin</h1>

<p>
    <a asp-action="Create">Create New Serie</a>
</p>
<p>
    <a asp-action="Create" asp-controller="Marca">Create New Marca</a>
</p>
<h1>Marca Seleccionada: @Model.NomMarca</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LasSeries)
            </th>
            <th>
                @Html.DisplayName("Marcas")
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LasSeries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.NomMarca)
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<div class="mt-5 mb-5">
    <a asp-action="Index">Back to List</a>
</div>